<div class="content">
    <div class="container">
    <ui-menu></ui-menu>
    <div class="box">
      <ui-header></ui-header>
      <ui-breadcrumb></ui-breadcrumb>
      <div>
        <form>
          <div class="grid-2555" [@shake]="error.state">
            <div class="input" >
                <input type="text" class="txt" id="custId" name="user" placeholder="User ID" [(ngModel)]="userId">
                <label class="error" *ngIf="error.message" for="userid">{{ error.message }}</label>
            </div>
            <div>
                <ui-button text="Find" tone="blue wide bold" (click)="getQueuedBills()"></ui-button>
            </div>
            
          </div>
          <div class="grid-255520" *ngIf="queuedBills.details" [@bills] = "queuedBills.details">
            <div class="result title left">Customer Info</div>
            <div class="result title middle">Bills Detail</div>
            <div class="result title right">Action</div>
            <div class="data left">
              <div class="customer">
                <div class="name">{{ queuedBills.nama }}</div>
                <div class="id">{{ queuedBills.id }}</div>
              </div>
            </div>
            <div class="data middle">
              <div class="total">
                {{ queuedBills.total | currency:'IDR' }}
              </div>
              
              <div class="grid-333333">
                <div class="card" *ngFor="let bill of queuedBills.details; let i = index;">
                  <div class="title">
                    {{ bill.NAMA_LAYANAN }}
                  </div>
                  <div class="price">
                    {{ bill.HARGA | currency:'IDR' }}
                  </div>
                </div>
              </div>
            </div>
            <div class="data right">
              <ui-button text="Submit" tone="green wide" (click)="showModal(true)"></ui-button>
              <ui-button text="Cancel" tone="red wide" (click)="showModal(false)"></ui-button>
            </div>
          </div>
          <div class="message alert" *ngIf="message">
              <h4>{{ message }}</h4>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>