<div class="content">
  <div class="grid-4060">
    <div class="banner">
      <div class="gradient">
        <h3>Some Title Goes Here</h3>
        <div>Author: Bill Jones</div>
      </div>
    </div>
    <div>
      <form>
        <div>
            <input id="nik" name="nik" [(ngModel)]="employeeId" type="text">  
        </div>
        <div>
            <input id="passkey" name="passkey" [(ngModel)]="passKey" type="password">
        </div>
      </form>
      
      <p>
        <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
        <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
      </p>
      <p>{{message}}</p>
    </div>
  </div>
</div>

