.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
 .banner{
    position: relative;
    height: 100vh;
    background: url(http://localhost:4200/assets/img/banners.jpg);
    background-size: cover;
    box-shadow:10px 10px 20px 5px rgba(161, 160, 160, 0.7);
}

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: hsla(0, 100%, 26%,.3);  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg,rgba(190, 3, 3, 0.8), rgba(63, 6, 6, 0.9));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(145deg,rgba(190, 3, 3, 0.8), rgba(63, 6, 6, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #EEE;
    padding: 10px;
}

.cover{
    padding: 50% 3em 45%;
}

.cover > .title{
    text-transform: uppercase;
    text-align: right;
    font-size: 2.25em;
    font-weight: bold;
    padding-bottom: .4em;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: white;
}

.cover > .subtitle{
    text-transform: capitalize;
    font-size: 1.5em;
    text-align: right;
    padding-top: .6em;
    font-weight: 400;
}

.trademark{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.trademark > .home{
    font-size: 2.5em;
    text-align: center;
    padding-top: .25em;
}

.grid-4060{
    display: grid;
    grid-template-columns: 35% 65%;
}

.right{
    float: right;
}

.shadow{
    filter: drop-shadow(1px 1px 0 white)
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.middle{
    padding-top:30%;
}