.menu{
    background: #151723;
    color: white;
    font-size: .7em;
    height: 100vh;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li{
    text-align: center;
    padding: 1.5vmax 0;
    cursor: pointer;
    /* margin: 5vh 0; */
}

.menu ul li:hover{
    /* background: brown; */
    border-right: #DA2421;
    border-right-style: solid;
    border-right-width: .3vw;
    border-left: hsla(0, 59%, 41%, .0);
    border-left-style: solid;
    border-left-width: .3vw;
    background: hsla(0, 59%, 41%, .2);
}

li i.icon{
    display: block;
    font-size: 3em;
}

li.active a{
    color:#DA2421;
}

.avatar > img{
    border-radius: 100px;
    width: 60%;
    margin: 20%;
    margin-bottom: 5px;
}

.avatar > .name{
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.avatar > .name::before{
    content: "Hi, ";
    font-weight: 300;
}

.avatar > .name::after{
    content: "!";
    font-weight: bold;
}

.side{
    position: absolute;
    bottom: 2.5vmax;
    left: 1.5vmax;
}