<div class="content">
  <div class="menu">
    <ul>
      <li><a routerLink="/home"><i class="fa fa-home icon"></i>Home</a></li>
      <li><a routerLink="/counter"><i class="fa fa-support icon"></i>Counter</a></li>
      <li><a routerLink="/"><i class="fa fa-user-circle-o icon"></i>Employees</a></li>
      <li><a routerLink="/"><i class="fa fa-address-book-o icon"></i>Customers</a></li>
      <li><a routerLink="/"><i class="fa fa-dashboard icon"></i>Dashboard</a></li>
    </ul>
    <div class="avatar" *ngIf="isLoggedIn">
      <img src="../assets/img/user/joey.jpg" data-user="Joey">
      <div class="name">{{username}}</div>
    </div>
    <button class="btn blue side" *ngIf="!isLoggedIn">Login</button>
    <button class="btn red side" *ngIf="isLoggedIn">Logout</button>
  </div>
</div>