<div class="content">
  <div class="menu">
    <ul>
      <li [ngClass]="{'active': activeMenu == '/'}"><a routerLink="/"><i class="fa fa-home icon"></i>Home</a></li>
      <li [ngClass]="{'active': activeMenu == '/counter'}"><a routerLink="/counter"><i class="fa fa-support icon"></i>Counter</a></li>
      <li [ngClass]="{'active': activeMenu == '/employees'}"><a routerLink="/"><i class="fa fa-user-circle-o icon"></i>Employees</a></li>
      <li [ngClass]="{'active': activeMenu == '/customers'}"><a routerLink="/"><i class="fa fa-address-book-o icon"></i>Customers</a></li>
      <li [ngClass]="{'active': activeMenu == '/dashboard'}"><a routerLink="/client"><i class="fa fa-dashboard icon"></i>Dashboard</a></li>
    </ul>
    <div class="avatar" *ngIf="isLoggedIn">
      <img [src]="avatarUrl+avatar">
      <div class="name">{{username}}</div>
    </div>
    <button class="btn blue side" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
    <button class="btn red side" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</div>