<div class="content">
<app-header-client></app-header-client>

<div class="container">
    <div class="center"></div>
    <div class="center">
      <form>
          <label>Pilih salah satu:</label>
          <div class="radio-group" >
            <input type="radio" value = "telepon" name="accountType" [(ngModel)] = "accountType">No. Telepon
            <input type="radio" value = "internet" name="accountType" [(ngModel)] = "accountType">No. Internet
          </div>
          
          <div>
            <label>No. Telepon / Internet</label>
            <input type="text" class="txt" id="custId" name="custNumber" placeholder="073xxxxxxx/111xxxxxx" [(ngModel)] = "customerId">
            <label class="error" *ngIf="error.message" for="custNumber">{{ error.message }}</label>
          </div>
          <div class="small">
            *Jika anda memiliki lebih dari satu layanan, maka tagihan yang muncul adalah total tagihan yang belum dibayarkan
          </div>
      </form>
      <button class="btn wide" (click) = "queryData()">CEK</button>
      1119293002
    </div>
    <div class="center"></div>
  </div>

<!-- The Modal -->
<div class="modal" *ngIf="bills.queue || bills.idle">
  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeModal()">&times;</span>
    <ul>
      <h3>{{ bills.nama}} NCLI-{{bills.id}}</h3>
      <div class="details">
        <div><h4>Idle</h4></div>
        <div><h4 *ngIf="bills.queue.length">Queued</h4></div>
        <div class="grid">
          <li *ngFor="let data of bills.idle; index as i;" [attr.data-index]="i">
            <div class="bills">
              <div class="title">
                  <i class="fa icon" [ngClass]="{'fa-phone':data.NAMA_LAYANAN == 'Telepon', 'fa-globe':data.NAMA_LAYANAN == 'Internet'}"></i> {{ data.NAMA_LAYANAN }}
              </div>
              <div class="price">
                  {{ data.HARGA | currency:'IDR' }}
              </div>
            </div>
          </li>
        </div>
        <div>
          <div *ngIf="bills.queue.length">
            <li class="numberic" *ngFor="let data of bills.queue; index as i;" [attr.data-index]="i">
              <div>
                Layanan {{ data.NAMA_LAYANAN }} {{ data.HARGA | currency:'IDR' }}
              </div>
            </li>
          </div>
        </div>
        <div>Total <b>{{ bills.totalIdle | currency:'IDR' }}</b></div>
        <div >
          <span *ngIf="bills.queue.length">Total <b>{{ bills.totalQueue | currency:'IDR' }}</b></span>
        </div>
      </div>
      <div *ngIf="bills.idle.length">
        <button class="btn yes" (click)="queueBills()">Accept</button>
        <button class="btn no" (click)="closeModal()">Cancel</button>
      </div>
    </ul>
    <div class="info" *ngIf="!bills.idle.length">
      <h4>Semua tagihan sudah diantrikan. Silahkan bayar di loket</h4>
    </div>
  </div>
</div>

<div class="modal" *ngIf="notification">
  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeModal()">&times;</span>
    <p>Silahkan bayar di loket</p>
  </div>
</div>

<app-footer-client></app-footer-client>
</div>