<div class="container">
  <div class="col">
    <form>
        <label>Pilih salah satu:</label>
        <div class="radio-group" >
          <input type="radio" value = "telepon" name="accountType" [(ngModel)] = "accountType">No. Telepon
          <input type="radio" value = "internet" name="accountType" [(ngModel)] = "accountType">No. Internet
        </div>
        <label>No. Telepon / Internet</label>
        <div>
          <input type="text" class="txt" name="custNumber" placeholder="073xxxxxxx/111xxxxxx" [(ngModel)] = "customerId">
        </div>
    </form>
    <input type="button" class="btn" [value]="checkBtnTxt" (click)="queryData()">
  </div>
</div>
