.container{
    display: grid;
    grid-template-columns: 20% 60% 20% auto;
}

.details{
    display: grid;
    grid-template-columns: 50% 50%;
}

.col{
    padding: .4em 1.3em;
}

input.txt{
    border: 0;
    padding: 1em;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
}

div{
    margin-bottom: .5em;
}
.center{
    text-align: center;
}

.small{
    font-size: .7em;
    text-align: left;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    color: #000000;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul li.numberic{
    list-style-type: decimal-leading-zero;
}

.btn{
    border: none;
    padding: 1em 2em;
    background: #797979;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
}

.btn:disabled{
    cursor: not-allowed;
}
.btn.wide{
    padding: 1em 3em;
}

.btn.yes{
    background: #137013;
    color: #ffffff;
}

.btn.yes:hover{
    background: #125a12;
}

.btn.no{
    background: #971515;
    color: #ffffff;
}

.btn.no:hover{
    background: #490303;
}

label.error{
    background: #fab7b7;
    /* background: #fff;  */
    color:#860d0d;
    display: block;
    font-size: .8em;
    padding: .5em;
    padding-top: .3em;
    border-radius: 0px 0px 3px 3px;
    font-weight: bold;
}

label.error::before{
    content: '*'
}

.txt.error{
    border: solid #fab7b7;
    /* border: solid #fff; */
    border-bottom:none;
    
    border-radius: 3px 3px 0px 0px;
}

.txt:focus{
    background: #fff;
    outline: none;
}

button:focus{
    outline: none;
}

.info{
    display: block;
    background: #c3f8c3;
    color:#055205;
    padding: .5em;
    font-size: .7em;
    font-weight: bold;
    border: solid #055205 1px;
    border-radius: 2px;
}


