div.input input.txt{
    padding: 1em;
    display: block;
    font-weight: bold;
}


div.input{
    display: inline-block;
}

button.btn{
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    padding: 1em;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

button.btn:hover{
    background: #fff;
    color: #5a0101;
}

.content{
    margin: 1em 0;
    padding: 1em;
}