.info{
    display: grid;
    grid-template-columns: 25% 55% auto;
}
div.input > input.txt{
    padding: 1em;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

div.input{
    display: block;
}

button.btn{
    border-style: solid;
    border-width: 2px;
    border-color: #0c93c9;
    padding: 1em;
    background: #0c93c9;
    color: #ffffff;
    cursor: pointer; 
}

button.btn:hover{
    background: #1fafe7;
}

button.btn.yes{
    border-style: none;
    background: #137013;
    padding: 1em 2em;
}

button.btn.no{
    border-style: none;
    background: #580303;
    padding: 1em 2em;
}

button.btn.yes:hover{
    background: #209920;
    color: #fff;
}

button.btn.no:hover{
    background: #7a0404;
    color: #fff;
}


.content{
    margin: .2em 0;
    padding: 1em;
}

.header{
    padding: .6em;
    font-size: 1.5em;
    background: #580303;
}

.data{
    padding: 1em; 
    background: #a00d0d;
}

ul li{
    list-style-type: none;
}

div.card{
    margin: .5em;
    cursor: pointer;
}

div.card > .title{
    font-size: .8em;
    text-align: left;
    padding: .5em 1em .7em;;
    background: #580303;
}

div.card > .price{
    font-size: 1.3em;
    text-align: right;
    background: #810b0b; 
    padding: .5em 1em;
    font-weight: 300;
    
}

.data > .row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.personal{
    /* padding: 1em; */
}

.personal > .name{
    font-size: 1.5em;
    font-weight: bold;
}

.personal > .id{
    font-size: .65em;
}

.personal > .id::before{
    content: "NCLI-";
}

form{
    padding: 1em;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    color: #000000;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label.error{
    background: #fab7b7;
    /* background: #fff;  */
    color:#860d0d;
    display: block;
    font-size: .8em;
    padding: .5em;
    padding-top: .3em;
    border-radius: 0px 0px 3px 3px;
    font-weight: bold;
}

label.error::before{
    content: '*'
}

.txt.error{
    border: solid #fab7b7;
    /* border: solid #fff; */
    border-bottom:none;
    
    border-radius: 3px 3px 0px 0px;
}

.txt:focus{
    background: #fff;
    outline: none;
}

button:focus{
    outline: none;
}