<form>
  <div class="input">
      <label>User Id:</label>
      <input type="text" class="txt" name="user" placeholder="User ID" [(ngModel)]="userId">
  </div>
  <button class="btn" (click)="getQueuedBills()">Submit</button>
  1119293002 || 111847432
</form>

<div class="content">
  <div class="info" *ngIf="queuedBills; else emptyblock">
    <div class="header">Info Pelanggan</div>
    <div class="header">Detail Tagihan</div>
    <div class="header">Aksi</div>
    <div class="data">
      <div class="personal">
        <div class="name">{{ queuedBills.nama }}</div>
        <div class="id">{{ queuedBills.id }}</div>
      </div>
    </div>
    <div class="data">
        Total: {{ queuedBills.total | currency:'IDR' }}
        <div class="row">
          <div class="card" *ngFor="let bill of queuedBills.details">
            <div class="price">
              {{ bill.HARGA | currency:'IDR' }}
            </div>
            <div class="title">
              {{ bill.NAMA_LAYANAN }}
            </div>
          </div>
          <div class="card">
            <div class="price">
              {{ 500000 | currency:'IDR' }}
            </div>
            <div class="title">
              Temporary
            </div>
          </div>
        </div>
        
    </div>
    <div class="data">
        <button class="btn yes" (click)="showModal(true)">Bayar</button>
        <button class="btn no" (click)="showModal(false)">Batal</button>
    </div>
  </div>
  <ng-template #emptyblock>
      <h4>Tidak ada tagihan yang mengantri untuk ID ini</h4>
  </ng-template>
</div>

<div class="modal" *ngIf="notification">
  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeModal()">&times;</span>
    <p>Silahkan bayar di loket</p>
  </div>
</div>