<div class="content">
    <div class="container">
    <ui-menu></ui-menu>
    <div class="box">
      <ui-header></ui-header>
      <ui-breadcrumb></ui-breadcrumb>
      <div class="grid-7025">
        <div class="frame">
          <div class="title">Latest News</div>
          <div class="data news">
            <div class="grid-4060 news-content">
                <div class="title" data-title="New internet package from Telkom">
                  <img src="../assets/img/services/internet.jpg" width="100%">
                </div>
                <div class="data">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
                </div>
            </div>
            <div class="grid-4060 news-content">
                <div class="title" data-title="Telkom release old phone museum"><img src="../assets/img/services/phone.jpg" width="100%"></div>
                <div class="data">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </div>
            </div>
            <div class="grid-4060 news-content">
                <div class="title" data-title="Another news from telkom"><img src="../assets/img/services/phone.jpg" width="100%"></div>
                <div class="data">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </div>
            </div>
          </div>
        </div>
        <div>
          <div class="frame">
            <div class="title">Unpaid Bills</div>
            <div class="data ">
              <div class="big-number">
                  <span>128M</span>
              </div>
            </div>
          </div>
          <div class="frame">
            <div class="title"># of Customer</div>
            <div class="data ">
                <div class="big-number">
                    <span>33K</span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>