<div class="content">
  
  <div class="container">
    <div class="menu">
      <ul>
        <li class="active"><i class="fa fa-home icon"></i>Home</li>
        <li><a routerLink="/dashboard"><i class="fa fa-support icon"></i>Counter</a></li>
        <li><i routerLink="#" class="fa fa-user-circle-o icon"></i>Employees</li>
        <li><i routerLink="#" class="fa fa-address-book-o icon"></i>Customers</li>
        <li><i routerLink="#" class="fa fa-dashboard icon"></i>Dashboard</li>
      </ul>
    </div>
    <div>
      <div class="header">
        <div><img src="../assets/img/logo_telkom.png" width="60%"></div>
        <div class="right">
          <a class="link" href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>