<div class="content">
  
  <div class="container">
    <div class="menu">
      <ul>
        <li><i class="fa fa-home icon"></i>Home</li>
        <li><i class="fa fa-support icon"></i>Counter</li>
        <li><i class="fa fa-user-circle-o icon"></i>Employees</li>
        <li><i class="fa fa-address-book-o icon"></i>Customers</li>
        <li><i class="fa fa-dashboard icon"></i>Dashboard</li>
      </ul>
    </div>
    <div>
      <div class="header">
        
      </div>
    </div>
  </div>

</div>